NEON_PROD_DB_HOST=your_prod_host
NEON_PROD_DB_NAME=your_prod_db
NEON_PROD_DB_USER=your_prod_user
NEON_PROD_DB_PASSWORD=your_prod_password
NEON_PROD_CONNECTION_STRING=your_prod_connection_string

KNEX_LOCAL_DB_HOST=localhost
KNEX_LOCAL_DB_NAME=kettlepal-dev
KNEX_LOCAL_DB_USER=postgres
KNEX_LOCAL_DB_PASSWORD=postgres

NODE_ENV=development
PUBLIC_URL=https://kettlepal.netlify.app/

REFRESH_TOKEN_SECRET=your_jwt_refresh_secret_here
ACCESS_TOKEN_SECRET=your_jwt_access_secret_here
